name: Build contribution-samples

defaults:
  run:
    working-directory: contribution-samples

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    

    strategy:
      matrix:
        node-version: [20.14.x]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: NPM Install
      run: npm install

    - name: Build
      run: npm run build

    - name: List Files in dist
      run: ls -R dist

    - name: List Files in target
      run: ls -R target

    - name: Archive contribution sample URCap
      uses: actions/upload-artifact@v4
      with:
        name: contribution-samples
        path: ${{ github.workspace }}/contribution-samples/target/
